@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
a {
  text-decoration: none;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .nav_container {
  margin-top: 64px;
  margin-bottom: 54px;
  width: 1111px;
  height: 32px;
}

body header .nav_container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .nav_container nav img {
  margin-bottom: 94px;
  margin-left: 20px;
  margin-right: 742px;
}

body header .nav_container nav .home {
  color: var(--color-bg);
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-right: 42px;
}

body header .nav_container nav .home:hover {
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000;
}

body header .nav_container nav .portfolio {
  color: var(--background-bg1);
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-right: 42px;
}

body header .nav_container nav .portfolio:hover {
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000;
}

body header .nav_container nav .contact_me {
  color: var(--background-bg1);
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

body header .nav_container nav .contact_me:hover {
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000;
}

body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section .section_container {
  border-top: 1px solid #ddddde;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section .section_container .get_in {
  margin-top: 48px;
  margin-right: 125px;
  width: 350px;
  color: #33323d;
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

body section .section_container .right {
  margin-top: 48px;
}

body section .section_container .right .love {
  width: 635px;
  color: #33323d;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

body section .section_container .right .icons {
  margin-top: 24px;
}

body section .section_container .right .icons img {
  margin-right: 15px;
}

body .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section .section_container_two {
  margin-top: 48px;
  border-top: 1px solid #ddddde;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section .section_container_two .contact_me {
  margin-top: 48px;
  margin-right: 125px;
  width: 350px;
  color: #33323d;
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

body .section .section_container_two .right {
  margin-top: 48px;
}

body .section .section_container_two .right .home {
  color: #33323d;
  font-family: Public Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

body .section .section_container_two .right .home input {
  padding: 0 0 0 10px;
  color: #9e9c9c;
  border: none;
  background: #e0dcdc;
  width: 625px;
  height: 48px;
}

body .section .section_container_two .right .email {
  color: #33323d;
  font-family: Public Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

body .section .section_container_two .right .email input {
  padding: 0 0 0 10px;
  color: #9e9c9c;
  border: none;
  background: #e0dcdc;
  width: 625px;
  height: 48px;
}

body .section .section_container_two .right .massage {
  color: #33323d;
  font-family: Public Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

body .section .section_container_two .right .massage input {
  padding: 0 0 0 10px;
  color: #9e9c9c;
  border: none;
  background: #e0dcdc;
  width: 625px;
  height: 96px;
}

body .section .section_container_two .right .btn button {
  cursor: pointer;
  margin-top: 24px;
  color: #fff;
  text-align: center;
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 200px;
  height: 48px;
  background: #203a4c;
}

body .section .section_container_two .right .btn button:hover {
  font-weight: 700;
  border: 3px solid #203a4c;
  color: #203a4c;
  background: #fff;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .footer_container {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #33323d;
  width: 1440px;
  height: 80px;
}

body footer .footer_container .img__two {
  margin-left: 165px;
  margin-right: 48px;
}

body footer .footer_container .home {
  margin-right: 42px;
  color: #fff;
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body footer .footer_container .portfolio {
  margin-right: 42px;
  color: #fff;
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body footer .footer_container .contact_me {
  margin-right: 591px;
  color: #fff;
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body footer .footer_container .icons img {
  margin-right: 20px;
}
/*# sourceMappingURL=contact_me.css.map */