@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-bg: #5fb4a2;
  --color-bg1: #33323d;
  --color-bg2: #ffffff;
  --background-bg: #203a4c;
  --background-bg1: #000000;
  --color-bg3: #ddddde;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body a {
  text-decoration: none;
}

body .container {
  margin: 0 auto;
}

body .container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container header .nav_container {
  margin-top: 64px;
  margin-bottom: 54px;
  width: 1111px;
  height: 32px;
}

body .container header .nav_container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container header .nav_container nav img {
  margin-right: 810px;
}

body .container header .nav_container nav .home {
  color: var(--color-bg);
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-right: 42px;
}

body .container header .nav_container nav .home:hover {
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000;
}

body .container header .nav_container nav .portfolio {
  color: var(--background-bg1);
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

body .container header .nav_container nav .portfolio:hover {
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000;
}

body .container header .nav_container nav .contact_me {
  color: var(--background-bg1);
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

body .container header .nav_container nav .contact_me:hover {
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000;
}

body .container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container section .background_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  width: 1110px;
  height: 600px;
}

body .container section .background_img .box {
  background: #fff;
  width: 445px;
  height: 357px;
}

body .container section .background_img .box .writing {
  margin-top: 56px;
  width: 390px;
  color: #33323d;
  font-family: Ibarra Real Nova;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.446px;
}

body .container section .background_img .box .about_me_btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 53px;
  width: 200px;
  height: 48px;
  background: #203a4c;
}

body .container section .background_img .box .about_me_btn .img__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
}

body .container section .background_img .box .about_me_btn .about_me_btn_writing {
  width: 152px;
  text-align: center;
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-bg2);
}

body .container .section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .section .man_img_container {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1111px;
  height: 600px;
}

body .container .section .man_img_container .man {
  width: 1111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .section .man_img_container .man img {
  width: 540px;
  height: 600px;
}

body .container .section .man_img_container .man .writing_man {
  border-bottom: 1px solid var(--color-bg3);
  border-top: 1px solid var(--color-bg3);
}

body .container .section .man_img_container .man .writing_man .about_me {
  margin-top: 50px;
  color: var(--color-bg1);
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  /* 105% */
  letter-spacing: -0.357px;
}

body .container .section .man_img_container .man .writing_man .junior {
  margin-top: 28px;
  width: 350px;
  color: var(--color-bg1);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

body .container .section .man_img_container .man .writing_man .portfolio_btn button {
  cursor: pointer;
  margin-top: 24px;
  background: var(--color-bg2);
  color: var(--background-bg1);
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 202px;
  height: 48px;
}

body .container .section .man_img_container .man .writing_man .portfolio_btn button:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background: var(--background-bg1);
  color: var(--color-bg2);
  border: 1px solid var(--color-bg2);
}

body .container .section__two .center center {
  margin-top: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .section__two .center center .interested {
  width: 350px;
  color: var(--color-bg1);
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  /* 105% */
  letter-spacing: -0.357px;
}

body .container .section__two .center center .line {
  margin-left: 32px;
  margin-right: 32px;
  background: var(--color-bg3);
  width: 534px;
  height: 1px;
}

body .container .section__two .center center .contact_me_btn button {
  cursor: pointer;
  background: var(--color-bg2);
  color: var(--color-bg1);
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid var(--color-bg1);
  width: 162px;
  height: 48px;
}

body .container .section__two .center center .contact_me_btn button:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background: var(--background-bg1);
  color: var(--color-bg2);
  border: 1px solid var(--color-bg2);
}

body .container footer .footer_container {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #33323d;
  width: 1440px;
  height: 80px;
}

body .container footer .footer_container .img__two {
  margin-left: 165px;
  margin-right: 48px;
}

body .container footer .footer_container .home {
  margin-right: 42px;
  color: #fff;
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body .container footer .footer_container .portfolio {
  margin-right: 42px;
  color: #fff;
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body .container footer .footer_container .contact_me {
  margin-right: 591px;
  color: #fff;
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body .container footer .footer_container .icons img {
  margin-right: 20px;
}

@media only screen and (min-width: 800px) {
  body .container header .nav_container nav .img__burger {
    display: none;
  }
  body .container .section .man_img_container .man .img__three {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  body .container header .nav_container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container header .nav_container nav a {
    margin-right: 0;
  }
  body .container header .nav_container nav img {
    margin-right: 319px;
  }
  body .container section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container section .background_img {
    background-image: url(../img/tablet_bg_img.png);
    width: 900px;
  }
  body .container .section .man_img_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container .section .man_img_container .man {
    width: 689px;
    height: 600px;
  }
  body .container .section .man_img_container .man .img__three {
    margin-right: 69px;
  }
  body .container .section .man_img_container .man .img__four {
    display: none;
  }
  body .container .section__two {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container .section__two .center {
    width: 689px;
  }
  body .container .section__two .center center .line {
    width: 113px;
    height: 1px;
  }
  body .container footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container footer .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 768px;
    height: 80px;
  }
  body .container footer .footer_container .img__two {
    margin-right: 32px;
  }
  body .container footer .footer_container .contact_me {
    margin-right: 0;
  }
}

@media only screen and (min-width: 300px) {
  body .container header .nav_container nav .img__burger {
    display: none;
  }
  body .container .section .man_img_container .man .img__five {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  body .container {
    margin-left: 500px;
  }
  body .container header .nav_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container header .nav_container nav .img__two {
    margin-right: 220px;
    margin-left: 200px;
  }
  body .container header .nav_container nav .home {
    display: none;
  }
  body .container header .nav_container nav .portfolio {
    display: none;
  }
  body .container header .nav_container nav .contact_me {
    display: none;
  }
  body .container section {
    margin-right: 450px;
  }
  body .container section .background_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 311px;
    height: 271px;
    background-image: url(../img/background_img_mobile.jpg);
  }
  body .container section .background_img .box {
    display: none;
  }
  body .container .section {
    margin-right: 430px;
  }
  body .container .section .man_img_container {
    width: 311px;
    height: 995px;
  }
  body .container .section .man_img_container .man {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container .section .man_img_container .man .img__three {
    display: none;
  }
  body .container .section .man_img_container .man .img__five {
    width: 311px;
    height: 346px;
  }
  body .container .section__two {
    margin-right: 40px;
  }
  body .container .section__two .center center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container .section__two .center center .interested {
    margin-bottom: 40px;
  }
  body .container .section__two .center center .line {
    display: none;
  }
  body .container footer .footer_container {
    margin-right: 60px;
    width: 375px;
    height: 354px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container footer .footer_container .img__two {
    margin: 56px 0 40px 0;
  }
  body .container footer .footer_container .home {
    margin: 0 0 32px 0;
  }
  body .container footer .footer_container .portfolio {
    margin: 0 0 32px 0;
  }
  body .container footer .footer_container .contact_me {
    margin: 0 0 40px 0;
  }
  body .container footer .footer_container .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .container footer .footer_container .icons img {
    margin-right: 11px;
  }
}
/*# sourceMappingURL=style.css.map */